.dark-bg{
    background-color: whitesmoke !important;
    color: black !important;
}

.blue-row{
    background-color:rgb(26, 64, 125) !important;
    color: whitesmoke !important;
}

.grey-card{
    background-color: grey;
    color: black;
}

.blue-form{
    border-color: rgb(26, 64, 125) !important;
}

.thead-blue{
    background-color:rgb(26, 64, 125);
    color: whitesmoke;
}