<div class="row mt-5 p-3 blue-row sticky-top">
    <div class="col col-md-12 text-center">
        <span class="h3">
            Real Time Vaccine Availability
        </span>
    </div>
</div>

<form class="mt-5 form-class col col-md-6 mx-auto rounded blue-form border p-4 shadow-lg" (submit)="checkAvailability()" ngNativeValidate>
    <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" [(ngModel)]="state" placeholder="Select" name="state" (change)="fetchCities()" id="state" required>
            <option *ngFor="let state of stateList" [value]="state">{{state}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <select class="form-control" [(ngModel)]="city" name="city" required id="city">
            <option *ngFor="let district of districtList" [value]="district">{{district}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="date">Select the Appointment Date</label>
        <input type="date" class="form-control" [(ngModel)]="date" name="date" id="date">
    </div>
    <div class="form-group row text-center">
        <div class="col-12 col-md-6 mt-3 mt-md-5">
            <!-- <input type="submit" class="btn btn-outline-success" [disabled]="submitDisabled" value="Look for Vaccines"> -->
            <button class="btn btn-outline-success mx-auto" [disabled]="submitDisabled" value="Look for Vaccines" type="submit" id="submit">
                <span class="spinner-border spinner-border-sm text-success" *ngIf="submitDisabled"></span>
                {{checkMessage}} </button>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-5">
            <a href="https://selfregistration.cowin.gov.in/" target="_blank"><button
                    class="btn btn-outline-warning w ml-5 mx-auto" type="button" value="">CoWin Registration
                    Page</button></a>
        </div>
    </div>
</form>

<div class="container" *ngIf="errorMessage">
    <div class="row mx-auto">
        <div class="col text-center mt-5 h3 text-danger">
            Oops! No centre's were available. Try again later.
        </div>
    </div>
</div>
<div class="mt-5 table-responsive table-padding" *ngIf="showSlots">

    <div *ngFor="let date of slots| keyvalue" class="text-center mt-5">
        <span class="font-weight-bold h5">
            Date: {{date.key}}
        </span>
        <table class="table table-hover text-center mt-2 col col-md-12">
            <thead class="thead-blue">
                <tr>
                    <th>
                        Centre
                    </th>
                    <th>
                        Age Limit
                    </th>
                    <th>
                        Vaccine
                    </th>
                    <th>
                        Slots
                    </th>
                    <th>
                        Cost
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let slot of date.value">
                    <td>
                        {{slot.name}}
                    </td>
                    <td>
                        {{slot.ageLimit}}+
                    </td>
                    <td>
                        {{slot.vaccineType}}
                    </td>
                    <td>
                        <span class="btn btn-outline-info btn-sm btn-custom-dose">Dose 1: {{slot.doseOneSlots}} </span>
                        <span class="ml-1 btn btn-outline-info btn-sm btn-custom-dose mt-2 mt-md-0">Dose 2: {{slot.doseTwoSlots}} </span>
                    </td>
                    <td>
                        <ng-template [ngIf]="slot.fees != 0">
                            <span class="btn btn-warning btn-sm btn-custom">&#8377; {{slot.fees}} </span>
                        </ng-template>
                        <ng-template [ngIf]="slot.fees === 0">
                            <span class="btn btn-primary btn-sm btn-custom">Free </span>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>